CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=canonflow_event_producer
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=canonflow
CLICKHOUSE_SECURE=true
CLICKHOUSE_VERIFY=true
CLICKHOUSE_CONNECT_TIMEOUT=10
CLICKHOUSE_SEND_RECEIVE_TIMEOUT=30

CANONFLOW_EVENT_CONTRACT_ID=e17828fb-49b1-5df0-9c45-385a68f5f9d1
CANONFLOW_PROJECT_ID=e8627781-5bf3-4c4d-905f-8dda49ab53d6

PORT=8080
LOG_LEVEL=INFO
